.b{
    color: #d95700;
}
.main{
    margin-left: 80px;
}
.textwarning{
    color: #d95700;
    font-weight: bold;
    font-size: 30px;
}








/* Media query for smaller screens */
@media screen and (max-width: 768px){
    /* Adjust margins and font sizes for smaller screens */
    .main{        
        margin-left: -20px;
        float: left; 
    }
    .none{
        display: none;
        visibility: hidden;
    }
    
}